<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Blog très sérieux sur les éléphants</title>
</head>

<body>
    <header>
        <h1>Mon blog</h1>
        <form action="../images/index.html">
            <button name="button">Accueil</button>
        </form>
        <form action="../html/admin.html">
            <button name="button">Admin</button>
        </form>
    </header>


<h1><%= obj %></h1>
<p>welcome to <%= obj %></p>





    <footer class="bottom">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </footer>

</body>

</html>